{% extends "base_generic.html" %} 

{% block styles %}
<style>

    .card {
        padding: 6px;
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
    }
</style>
{% endblock %} 


{% block content %}


<div class="bar"></div>
<br><br>
<div class="container">
    <h1>Linkwire</h1>
    <p>Can you separate facts from spin?</p>
    <h2>Welcome {{ user.first_name }}</h2>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ user.score.total_right }}%" aria-valuenow="{{ user.score.total_right }}" aria-valuemin="0" aria-valuemax="100">{{ user.score.total_right }} right answers</div>
    </div>
    <br>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ user.score.total_wrong }}%" aria-valuenow="{{ user.score.total_wrong }}" aria-valuemin="0" aria-valuemax="100">{{ user.score.total_wrong }} wrong answers</div>
    </div>
</div>
<br><br>
{% for article in articles %}
<div class="card article-link">
    <h2>{{ article.title }}</h2>
    <a href="{{ article.link }}">{{ article.title }}</a>
    <a href="/questions/?article={{ article.id }}">View Questions</a>
</div>
<br>
{% endfor %}
<br>
{% endblock %} 

{% block scripts %} 
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script>

</script>

{% endblock %}