{% extends "base_generic.html" %} {% block styles %}
<style>
    body {
        background-color: #efefef;
    }

    .card {
        background-color: #fff;
        padding: 6px;
        text-align: center;
    }

    .hide {
        display: none;
    }

    .cover {
        background-color: rgb(8, 57, 77);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .front {
        z-index: 3;
        position: absolute;
        top: 20px;
        margin: 0 10vw;
        width: 80vw;
        max-width: 100%;
    }

</style>
{% endblock %} {% block content %}
<div class="container">
    <h1>Linkwire</h1>

    <p>Welcome {{ user.first_name }}</p>
    <p>You don't have any stats yet.</p>

    <button class="btn btn-primary">Play</button>
    <br><br>
</div>
{% for article in articles %}
<div class="card article-link">
    <h2>Link</h2>
    <a href="{{ article.link }}">ID: {{ article.id }}</a>
    <a href="answer/?article={{ article.id }}&question={{ question.id }}&answer={{ answer }}">question query</a>
</div>
{% endfor %}
<br>

<div class="card questions questions-before">
    <h2 id="question-text">Question text</h2>
    <button class="btn btn-success">True</button>
    <button class="btn btn-caution">Not Enough Information</button>
    <button class="btn btn-danger">False</button>
</div>

<div class="hide cover"></div>

{% endblock %} {% block scripts %} {% endblock %}